/*
Tailwind Preflight modified so that it will only apply inside the widget.
https://tailwindcss.com/docs/preflight
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

.wv-widget-container,
.wv-widget-container *,
.wv-widget-container ::before,
.wv-widget-container ::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

.wv-widget-container ::before,
.wv-widget-container ::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Remove the margin in all browsers.
*/

.wv-widget-container {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: "ui-sans-serif", "system-ui", "-apple-system",
    "BlinkMacSystemFont", '"Segoe UI"', "Roboto", '"Helvetica Neue"', "Arial",
    '"Noto Sans"', "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"',
    '"Segoe UI Symbol"', '"Noto Color Emoji"'; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  margin: 0; /* 7 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

.wv-widget-container hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

.wv-widget-container abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

.wv-widget-container h1,
.wv-widget-container h2,
.wv-widget-container h3,
.wv-widget-container h4,
.wv-widget-container h5,
.wv-widget-container h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

.wv-widget-container a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

.wv-widget-container b,
.wv-widget-container strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

.wv-widget-container code,
.wv-widget-container kbd,
.wv-widget-container samp,
.wv-widget-container pre {
  font-family: "fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

.wv-widget-container small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

.wv-widget-container sub,
.wv-widget-container sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.wv-widget-container sub {
  bottom: -0.25em;
}

.wv-widget-container sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

.wv-widget-container table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

.wv-widget-container button,
.wv-widget-container input,
.wv-widget-container optgroup,
.wv-widget-container select,
.wv-widget-container textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

.wv-widget-container button,
.wv-widget-container select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

.wv-widget-container button,
.wv-widget-container [type="button"],
.wv-widget-container [type="reset"],
.wv-widget-container [type="submit"] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

.wv-widget-container :-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

.wv-widget-container :-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

.wv-widget-container progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

.wv-widget-container ::-webkit-inner-spin-button,
.wv-widget-container ::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

.wv-widget-container [type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

.wv-widget-container ::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

.wv-widget-container ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

.wv-widget-container summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

.wv-widget-container blockquote,
.wv-widget-container dl,
.wv-widget-container dd,
.wv-widget-container h1,
.wv-widget-container h2,
.wv-widget-container h3,
.wv-widget-container h4,
.wv-widget-container h5,
.wv-widget-container h6,
.wv-widget-container hr,
.wv-widget-container figure,
.wv-widget-container p,
.wv-widget-container pre {
  margin: 0;
}

.wv-widget-container fieldset {
  margin: 0;
  padding: 0;
}

.wv-widget-container legend {
  padding: 0;
}

.wv-widget-container ol,
.wv-widget-container ul,
.wv-widget-container menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

.wv-widget-container textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

.wv-widget-container input::placeholder,
.wv-widget-container textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

.wv-widget-container button,
.wv-widget-container [role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
.wv-widget-container :disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

.wv-widget-container img,
.wv-widget-container svg,
.wv-widget-container video,
.wv-widget-container canvas,
.wv-widget-container audio,
.wv-widget-container iframe,
.wv-widget-container embed,
.wv-widget-container object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

.wv-widget-container img,
.wv-widget-container video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
.wv-widget-container [hidden] {
  display: none;
}

/* Additions */

.wv-widget-container {
  --gray-0: rgb(247, 247, 247);
  --gray-1: rgb(226, 226, 226);
  --gray-2: rgb(198, 198, 198);
  --gray-3: rgb(171, 171, 171);
  --gray-4: rgb(145, 145, 145);
  --gray-5: rgb(119, 119, 119);
  --gray-6: rgb(94, 94, 94);
  --gray-7: rgb(71, 71, 71);
  --gray-8: rgb(48, 48, 48);
  --gray-9: rgb(27, 27, 27);

  --blue: rgb(0, 95, 204);
  --dark-blue: rgb(1, 51, 104);

  --large: 1.125rem;
  --small: 0.875rem;
}

.wv-widget-container button {
  color: var(--blue);
  background-color: white;
  border: 1px solid var(--blue);
  border-radius: 0.25em;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  line-height: 1em;
  padding: 0.0625em 0.0625em;
}

.wv-widget-container button:hover:enabled {
  color: white;
  background-color: var(--blue);
}

.wv-widget-container button:active:enabled {
  color: white;
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.wv-widget-container button:disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: var(--gray-4);
  border-color: var(--gray-4);
}

.wv-cutoff {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wv-hide {
  display: none;
}

/* https://stackoverflow.com/a/69029387/5016634 */
.icon-tabler {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
