node_modules
.venv
dist
.DS_Store
.vscode
scratch
*.pt
*.db
examples/TinyStories-1M/TinyStories_tokenized_128
wandb
examples/**/*.sh
docs/build

# Python
__pycache__
.ipynb_checkpoints

src/saefarer/static

# pixi environments
.pixi
*.egg-info
.ruff_cache
